/* Body */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --shadow-color: 207deg 45% 54%;
    --shadow-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

html, body {
	background-color: #bae1ff;
	width: 100vw;
	height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.game-over {
    background-color: #C70039;
}

.game-won {
    background-color: #28A228;
}

/* Header */
#head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em 1em 0 1em;
}
.title {
	font-size: 36px;
    font-family: 'Carter One', cursive;
    color: #49a9f3;
    text-shadow: #272727 4px 3px;
}

/* Buttons and inputs */
.header-button {
    border-radius: 7.5px;
    padding: 15px;
    text-align: center;
    border: 1px solid #e4e1db;
    background-color: #f5f2eb;
    outline: none;
    margin: 0px 7.5px;
    transition: all 0.5s;
}

.header-button:hover {
    border: 1px solid #b6b2ac;
    background-color: #d89f1b;
    transform: scale(1.1);
}

.button {
    border-radius: 7.5px;
    padding: 7.5px;
    text-align: center;
    border: 1px solid #e4e1db;
    background-color: #f5f2eb;
    outline: none;
    box-shadow: var(--shadow-low);
}

.button:hover {
    border: 1px solid #b6b2ac;
    background-color: #e2dfd8;
}

.button.close {
    display: flex;
    position: relative;
    align-self: flex-end;
}

.text-input {
    padding: 7.5px;
    border-radius: 7.5px;
    border: 1px solid #e4e1db;
    background-color: #fdfbf7;
    outline: none;
    box-shadow: var(--shadow-low);
}
.dashes {
    font-size: 36px;
    letter-spacing: .1em;
}
/* Sections */
.main-section {
	display: flex;
	justify-content: center;
}
.center-section {
	border-radius: 1em;
	background-color: #fffefc;
	width: 60vw;
    box-shadow: var(--shadow-medium);
}
.heroSection {
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    height: fit-content;
}
#reset-win, #reset-lose {
    background-color:  #bae1ff;
    font-size: 20px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all 0.5s;
}
#reset-win:hover {
    background-color: red;
    transform: scale(1.1);

}
#reset-lose:hover {
    background-color: red;
    transform: scale(1.1);

}
#player-input {
    display: flex;
}
#player-inputfield, #player-name-placeholder {
    margin-left: 0.5em;
}
/* Main */
#top-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
    
}
#top-div, p {
	font-size: 20px;
}
#correct-letters, #guessed-letters {
	font-size: 20px;
}
#guessed-letters {
	color: rgb(218, 45, 45);
    font-weight: 700;
    margin: 1em 0 2em 0;
    height: 20px;
}s

.gubben {
    width: 501px;
    height: 565px;
}

/* Hide elements */
.hidden {
    visibility: hidden;
    display: none !important;
}

/* Overlay */
.overlay {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Modal */
.modal {
    width: 500px;
    background-color: #fffefc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 25px;
    flex-flow: row wrap;
    box-shadow: var(--shadow-low);
}

.modal > .button.close {
    margin-left: min(430px);
}

.modal > .profile {
    margin-left: .25em;
    margin-right: .25em;
}

.modal > .title {
    width: 60vw;
    padding-bottom: 34px;
    text-align: center;
}

.title-center {
    width: 25vw;
    text-align: center;
    height: 72px;
}

.title-center > * {
    height: 16px;
}

/*
.modal.mode {
}

.modal.end {
}
*/

/* Mobile */
@media (orientation: portrait) {
    /* Sections */
    .center-section {
        width: 85vw;
    }
}
