/* Body */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background-color: #bae1ff;
	width: 100vw;
	height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* Header */
#head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em 1em 0 1em;
}
.title {
	font-size: 36px;
    font-family: 'Carter One', cursive;
}


/* Buttons and inputs */
.header-button {
    border-radius: 7.5px;
    padding: 15px;
    text-align: center;
    border: 1px solid #e4e1db;
    background-color: #f5f2eb;
    outline: none;
    margin: 0px 7.5px;
}

.header-button:hover {
    border: 1px solid #b6b2ac;
    background-color: #e2dfd8;
}

.button {
    border-radius: 7.5px;
    padding: 7.5px;
    text-align: center;
    border: 1px solid #e4e1db;
    background-color: #f5f2eb;
    outline: none;
}

.button:hover {
    border: 1px solid #b6b2ac;
    background-color: #e2dfd8;
}

#name-input {
    padding: 7.5px;
    border-radius: 7.5px;
    border: 1px solid #e4e1db;
    background-color: #f5f2eb;
}
.dashes {
    font-size: 36px;
    letter-spacing: .1em;
}
/* Sections */
.main-section {
	display: flex;
	justify-content: center;
}
.center-section {
	border-radius: 1em;
	background-color: #fffefc;
	width: 60vw;
}
.heroSection {
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#player-input {
    display: flex;
}
#player-inputfield, #player-name-placeholder {
    margin-left: 0.5em;
}
#top-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
    
}
#top-div, p {
	font-size: 20px;
}
#correct-letters, #guessed-letters {
	font-size: 20px;
	padding: 1em;
}
#guessed-letters {
	color: gray;
}
#svar {
    padding-top: 3em;
}

.gubben {
    width: 501px;
    height: 565px;
}

/* Overlays */
.overlay {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Modal */
.modal {
    width: 35vw;
    height: 50vh;
    background-color: #fffefc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    align-content: space-around;
    align-items: flex-start;
    padding: 25px;
    flex-flow: column wrap;
}

.modal.start {
}

.modal.end {
}
